#!/bin/sh
set -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Fix upgrades from broken experimental version
db_get connman/users
db_metaget connman/users users

users="$(getent passwd | awk -F: '{if ($3 >= 1000 && $3 < 60000) print $1}' | sort | tr '\n' ',' | sed 's@,@, @g;s@, $@@g')"
netdev=$(getent group netdev | cut -d: -f4 | sed -e 's@,@ @g')

# Don't show users already in netdev
for u in ${netdev}; do
	users=$(printf "%s\\n" ${users} | sed "s@$u, @@g;s@, $u\$@@g;s@^$u\$@@g");
done

db_subst connman/users users "${users}"

db_input high connman/users || true
db_go
