#!/usr/bin/make -f

DEB_VERSION:=$(shell dpkg-parsechangelog -n1 | sed -n '/^Version: /s///p')
DEB_UPSTREAM_VERSION:=$(shell DEB_VERSION=${DEB_VERSION}; echo $${DEB_VERSION%-*})
DEB_UPSTREAM_VERSION:=$(shell DEB_UPSTREAM_VERSION=${DEB_UPSTREAM_VERSION}; echo $${DEB_UPSTREAM_VERSION\#*:})
DEB_MASTER_VERSION:=$(shell DEB_UPSTREAM_VERSION=${DEB_UPSTREAM_VERSION}; echo $${DEB_UPSTREAM_VERSION\#*+git})

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
%:
	dh $@

override_dh_auto_configure:
	./configure \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--enable-debug \
		--enable-openconnect=builtin \
		--enable-openvpn=builtin \
		--enable-vpnc=builtin \

override_dh_installinit:
	cp -a scripts/connman debian/connman.init
	dh_installinit
	cp -a src/connman.service debian/connman.service
	cp -a vpn/connman-vpn.service debian/connman-vpn.service

override_dh_auto_test:

get-orig-source:
	rm -rf debian/tmp; mkdir debian/tmp
	cd debian/tmp; wget https://github.com/minos-org/connman/archive/${DEB_MASTER_VERSION}.tar.gz
	cd debian/tmp; tar xvzf ${DEB_MASTER_VERSION}.tar.gz
	cd debian/tmp; mv connman-* connman-${DEB_UPSTREAM_VERSION}
	cd debian/tmp; tar cvJf connman_${DEB_UPSTREAM_VERSION}.orig.tar.xz connman-${DEB_UPSTREAM_VERSION}
	mv debian/tmp/connman_${DEB_UPSTREAM_VERSION}.orig.tar.xz .
	mv debian/tmp/connman-${DEB_UPSTREAM_VERSION} .
	rm -rf debian/tmp
